## Problem solving and programming


 ### DAY no-10
   ### DATE- 8th may

## Printing statement

In [1]:
print('hello world')

hello world

## variable assignment

In [12]:
var1=4
var2=var1**var1
var3=var1*var2
print(var1,"  ",var2," ",var3)

4    256   1024

## count digits in a number

In [13]:
print(len(str(var3)))

4

## Getting the datatype of a variable

In [19]:
var3="dff"
type(var3)

str

In [20]:
type(var1)

int

## String slicing

In [23]:
str1="python programming"

str1[0]##printing the 1st character

'p'

In [25]:
str1[4]

'o'

In [35]:
str1[2:]

'thon programming'

In [28]:
str1[1:8] ##printing from 1 to 7 characters

'ython p'

In [31]:
str1[len(str1)-1]##accessing the lst character

'g'

In [32]:
str1[0:6] ##printing 1st 6 characters

'python'

In [33]:
str1[:6] ##printing 1st 6 characters

'python'

In [38]:
str1[len(str1)-1::-1]  ## Reverse of a string

'gnimmargorp nohtyp'

In [42]:
str1[::2]

'pto rgamn'

In [49]:
str1[5::-2]

'nhy'

In [75]:
str1[7:] * 10

'programmingprogrammingprogrammingprogrammingprogrammingprogrammingprogrammingprogrammingprogrammingprogramming'

## List   --  Mutable

In [127]:
lii=[12, "string" , 9.76] #indexing starts from 0

lii

[12, 'string', 9.76]

In [128]:
len(lii) ## length of the list

3

In [129]:
lii[1] ## accessing a single element in the list

'string'

In [130]:
lii[2]='programming' ## replacing the existing element in the list
lii

[12, 'string', 'programming']

In [131]:
lii.append('python') ## to add ta element to the list
lii

[12, 'string', 'programming', 'python']

In [132]:
lii.pop()

'python'

In [133]:
lii

[12, 'string', 'programming']

In [134]:
lii.pop() ## pop without any index used to remove element at the end of the list

'programming'

In [135]:
lii

[12, 'string']

In [142]:
lii.remove(12) ## remove romoves the element using value

['string']

In [144]:
lii.append('programming')
lii

['string', 'programming', 'programming']

In [145]:
lii.append(123) ## add the new element to the end of the string
lii

['string', 'programming', 'programming', 123]

In [147]:
lii.pop(2) ## pop removes the element using index

'programming'

In [148]:
lii

['string', 'programming', 123]

In [150]:
lii.insert(1,76)
li

['string', 76, 76, 'programming', 123]

In [151]:
lii.insert(2,'asd') ## add elements at a particular position
lii

['string', 76, 'asd', 76, 'programming', 123]

In [152]:
li2=[[1,2,3],[4,5,6],[7,8,9]] ## multi dimensional list
li2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [153]:
li2[1] #accessing a single list in multi dimensional list

[4, 5, 6]

In [154]:
li2[1][0] #accessing a single element in a list in multi dimensional list

4

In [155]:
li2.insert(3,[10,11,12])

In [156]:
li2

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [157]:
li2.pop(2)

[7, 8, 9]

In [159]:
li2

[[1, 2, 3], [4, 5, 6], [10, 11, 12]]

In [160]:
li2[1].pop(1)

5

In [161]:
li2

[[1, 2, 3], [4, 6], [10, 11, 12]]

In [162]:
li2[1].insert(2,7)

In [163]:
li2

[[1, 2, 3], [4, 6, 7], [10, 11, 12]]

In [167]:
for i in range(0,len(li2)):
    for j in range(0,len(li2[i])):
        print(li2[i][j] ,end=' ')

1 2 3 4 6 7 10 11 12

In [175]:
for i in range(len(li2)-1,-1,-1):
    for j in range(len(li2[i])-1,-1,-1):
        print(li2[i][j] ,end=' ')

12 11 10 7 6 4 3 2 1

## TUPLE --- immutable[ cannot be changed]

In [177]:
t1=(12,13,14)

In [178]:
t1[1]

13

In [179]:
t1[2]

14

In [180]:
t1[1]+t1[2]

27

In [181]:
t1[len(t1)-1]

14

In [182]:
t1[1:3]

(13, 14)

In [188]:
t1

(12, 13, 14)

In [196]:
str(t1[0])[1]+ "  " +str(t1[1])[1]+"  "+str(t1[2])[1]

'2  3  4'

### PROBLEM 1:
#### Problem statement:
* For a given number check If it is divisible by 2 and 3 but not 4

#### Constraints-
* given number will be In the Range [1,1000000000]

#### Test cases:
* checkDivisibility(6) -> True
* checkDivisibility(16) -> False
* checkDivisibility(20) -> False

In [1]:
def checkDivisibility(n):
    if n%2 ==0 and n%3 == 0 and n % 4 !=0:
        return True
    else:
        return False
    
    
checkDivisibility(4)

False